
input [type="text"]
{
    color: blue;
}
input[type="submit"]
{
    color: red;
}
 
.xyz
{
    color:orangered;
    background-color: lightpink;
    font-size:20px; 
}
h1{
    color:green;
    background-color:yellow;
    font-size:14px;
}
 p{
     color:red;
     background-color:light greenyellow;
     font-size :14px;
 }
 p>a {
     color:indianred;

 }
 
 B{
     color: green;
 }
